---
id: default
showTranslations: true
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body data-show-translations="{{ layout.showTranslations | default: false }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      
      <div class="wrapper">
      {% unless layout.nomangala %}
          <div class="mangala" markdown="1">
            ॥ॐ गुरुपरमात्मने नमः॥
          </div><p/>
      {% endunless %}
          {{ content }}
      </div>

    </main>

    {%- include footer.html -%}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const getCookie = name => {
      const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
      return match ? match[2] : null;
    };

    const params = new URLSearchParams(window.location.search);
    const queryParam = params.get("showTranslations");
    const cookiePref = getCookie("showTranslations");
    const defaultAttr = document.body.dataset.showTranslations;

    let showTranslations;
    if (queryParam === "true") {
      showTranslations = true;
    } else if (queryParam === "false") {
      showTranslations = false;
    } else if (cookiePref === "true" || cookiePref === "false") {
      showTranslations = cookiePref === "true";
    } else {
      showTranslations = defaultAttr === "true";
    }

  const translationClasses = [
    "translation-inline",
    "translation",
    "item_question_eng"
  ];

  translationClasses.forEach(className => {
    document.querySelectorAll(`.${className}`).forEach(el => {
      el.style.display = showTranslations ? "" : "none";
    });
  });
});
</script>

  </body>

</html>
