---
layout: default
---

<h1><span class="kala_part_span"><a href="/chandra/kala/{{page.kala_number}}#sec{{page.kala_number}}.{{page.section_number}}">kalā {{page.kala_number}}.{{page.section_number}}</a></span> - {{page.section_title}}</h1>

{{ content }}

{% if page.questions %}

  {% for q_id in page.questions %}
    {% assign question_item = site.kala_question | where: "kala_question_id", q_id | first %}

    {% if question_item %}
      <div class="item_question" id="{{question_item.kala_number}}.{{ question_item.question_number }}" ><img src="/assets/images/icons/file-regular.svg" class="icon-card"/> <span class="question_number">{{question_item.kala_number}}.{{ question_item.question_number }}</span>
        <span class="skt_span"> &nbsp; {{ question_item.question_text_skt }} </span>
        <br/><span class="item_question_eng">{{ question_item.question_text }}</span><br/>
      </div><p/>
        {% if question_item.no_split == true %}
          {{ question_item.content }}
        {% else %}
          {% assign sections = question_item.content | split: '<!-- split -->' %}
          <div class="skt" markdown="1">{{ sections[0] | markdownify }}</div><p/>
          <div class="translation" markdown="1">
            {{ sections[1] | markdownify }}
          </div>

          {% if sections.size >= 3 %}
          <div class="accordion" id="postAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="ref-{{question_item.kala_number}}.{{ question_item.question_number }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ref-{{question_item.kala_number}}.{{ question_item.question_number }}" aria-expanded="false" aria-controls="collapse-ref-{{question_item.kala_number}}.{{ question_item.question_number }}">
                  External references:
                </button>
              </h2>
              <div id="collapse-ref-{{question_item.kala_number}}.{{ question_item.question_number }}" class="accordion-collapse collapse" aria-labelledby="ref-{{question_item.kala_number}}.{{ question_item.question_number }}" data-bs-parent="#postAccordion">
                <div class="accordion-body">
                  <div class="skt">{{ sections[2] | markdownify }}</div>
                </div>
              </div>
            </div>
          </div>          
          {% endif %}



        {% endif %}

        {% if question_item.related_topics %}
        <div class="related">
          <p>Related Topics:
            {% for related_topics_item in question_item.related_topics %}<a href="{{ question_item.related_topics_links[forloop.index0] }}">{{ related_topics_item }}</a>. {% endfor %}          
          </p>
        </div>
        {% endif %}

        {% if question_item.glossary %}
        <div class="glossary">
          <p>Glossary</p>
          <ul>
            {% for glossary_term in question_item.glossary %}
            <li><a href="{{ question_item.glossary_links[forloop.index0] }}">{{ glossary_term }}</a></li>
            {% endfor %}          
          </ul>
        </div>
        {% endif %}


    {% else %}
      Missing question: {{ q_id }}
    {% endif %}

    <p/>
  {% endfor %}

{% endif %}

